:root {
    --main-color: #004b87;
    --cinza: #1f1e1e;
    --bg: #010103;
    --border: 0.1rem solid #31140c;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5 ease;
    font-family: "Cal Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1c1c1c, #333333);
    overflow-x: hidden;
}

section {
    padding: 2rem 6rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--cinza);
    
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.logoimg {
    width: 120px;
    height: auto;
}

.navbar a {
    justify-content: center;
    margin: 0 1.7rem;
    font-size: 1.8rem;
    color: white;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.3rem;
    font-size: 1.9rem;
    transition: 0.5s;
}

.header #produtos-btn {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    display: none;
}

.btn {
    background: var(--main-color);
    color: white;
    padding: 0.7rem 1.7rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem;
    display: inline-block;
    text-transform: none;
    border-radius: 0.5rem;
}

section .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.btn:hover {
    background: #D8334A;
    letter-spacing: 0.01rem;
    transition: 0.5s;
}

.home-container {
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 7rem;
}

.home-container section {
    display: flex;
    align-items: center;
    padding: 0 6rem;
}

.content {
    max-width: 50rem;
}

.content h3 {
    color: white;
    font-size: 5rem;
    margin-top: 15rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content p {
    color: white;
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.5;
    padding: 1rem 0;
    text-transform: none;
}

.content p::first-letter {
    text-transform: uppercase;
}

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding-top: 5rem;
}

.title span {
    color: white;
    text-transform: uppercase;
}

.sobre .row {
    display: flex;
    align-items: center;
    background: var(--cinza);
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0.5rem;
}

.sobre .row .container-img .capa {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
}

.sobre .row .content {
    padding: 2rem;
}

.sobre .row .content h3 {
    font-size: 5rem;
    color: white;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sobre .row .content p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem 0;
    line-height: 1.7rem;
    text-transform: none;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.produtos .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 1.5rem;
    cursor: pointer;
    background-color: var(--cinza);
    border-radius: 0.5rem;
}

.produtos .box-container .box img.cardapio {
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.produtos .box-container .box h3 {
    color: white;
    font-size: 2rem;
    padding: 1rem 0;
}

.produtos .box-container .box .price {
    color: white;
    font-size: 1.7rem;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
}

.produtos .box-container .box .price span {
    font-size: 1.2rem;
    text-decoration: line-through;
    font-weight: lighter;
    margin-left: 0.3rem;
}

.produtos .box-container .box:hover {
    background-color: var(--main-color);
    transform: translateY(0.5rem);
    transition: 0.5s;
}

.produtos .box-container .box:hover>* {
    color: var(--cinza);
}

.rede_social {
    width: 3rem;
    height: 3rem;
}

.rodape {
    color: white;
}

.endereco {
    display: flex;
    justify-content: center;
}


.footer {
    text-align: center;
    padding: 2rem;
    color: white;
    border: var(--border);
    margin-top: 3rem;
    font-size: 1.5rem;
}

.footer .share {
    padding: 1.5rem 0;
}

.footer .share img {
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.8rem;
    background-color: #333;
    width: 3.7rem;
    height: 3.7rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
}

.footer .share img:hover {
    background: var(--main-color);
    transform: translateY(0.3rem);
    transition: 0.5s;
}

@media screen and (max-width: 412px) {
    h3 {
        font-size: 50%;
    }
}